<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag "Welcomes.css" %>
  <div class="media">
    <table>
      <tr>
        <td>
          <img src="http://www.javygalindo.com/creativity/wp-content/uploads/2014/09/cropped-cropped-creative2.jpg" alt="Mein Bild" class="img-responsive" >
        </td>
      </tr>
    </table>
  </div>

  <br>
  <br>

  <div class="container">
    <h2>Welcome at CreativeMinds</h2><br>
  </div>

  <tbody>
  <div class="container">
  <div class="jumbotron">
    <h1>What do we do?</h1>
    <p>Well, i guess we dont know that either at this point. But, you know us,
    you can expect great things once we figured out how all of it works!</p>
  </div>
  <div class="container">
    <div class="page-header">
      <h1>Die Idee</h1>
    </div>
      <p>This is some text.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
        no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

    <br>
    <br>
    <div class="container">
      <div class="page-header">
        <h1>Das Team</h1>
      </div>
    <br>
    <div>
      <table class="table-responsive">
        <thead>
          <tr>
            <th><img src="https://scontent-frt3-1.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/10353693_10204462544593104_1815368578961982694_n.jpg?oh=e646b537afe9e0f9d13174ad4ec9467d&oe=56E1F5FF" class="img-circle" alt="Cinque Terre" width="204" height="160"></th>
            <th><img src="https://scontent-frt3-1.xx.fbcdn.net/hphotos-xpf1/t31.0-8/s960x960/894908_558321857525630_1652117996_o.jpg" class="img-circle" alt="Cinque Terre" width="204" height="160"></th>
            <th><img src="https://scontent-frt3-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/419058_657244574301241_780585607_n.jpg?oh=06c899a05fa730eb4e272e65f9b2d87f&oe=56E7C218" class="img-circle" alt="Cinque Terre" width="204" height="160"></th>

          </tr>
        </thead>
        <tbody>

          <td>This is some text.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            At vero eos et accusam et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
            sed diam nonumy eirmod tempor invidunt</td>
          <td>This is some text.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            At vero eos et accusam et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
            sed diam nonumy eirmod tempor invidunt</td>
          <td>This is some text.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            At vero eos et accusam et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
            sed diam nonumy eirmod tempor invidunt</td>
      </div>
    </div>
  </table>
</div>
</tbody>
<div class="media">
  <table>
    <tr>
      <td>
        <img src="http://www.javygalindo.com/creativity/wp-content/uploads/2014/09/cropped-cropped-creative2.jpg" alt="Mein Bild" class="img-responsive" >
      </td>
    </tr>
  </table>
</div>
