<p id="notice"><%= notice %></p>
 <link rel="stylesheet" href="C:\Users\CocksuckerNo1\Desktop\CreativeWorkplace-master\app\assets\stylesheets\welcomes.css">

  <div class="media">
    <table>
      <tr>
        <td>
          <img src="http://www.javygalindo.com/creativity/wp-content/uploads/2014/09/cropped-cropped-creative2.jpg" alt="Mein Bild" class="img-responsive" >
        </td>
      </tr>
    </table>
  </div>

  <br>
  <br>

  <div class="container">
    <h2>Welcome at CreativeMinds</h2><br>
  </div>

  <tbody>
    <div class="container">
  <div class="jumbotron">
    <h1>What do we do?</h1>
    <p>Well, i guess we dont know that either at this point. But, you know us,
    you can expect great things once we figured out how all of it works!</p>
  </div>
  <p>This is some text.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
</div>

  </tbody>
