<p id="notice"><%= notice %></p>
 <link rel="stylesheet" href="C:\Users\CocksuckerNo1\Desktop\CreativeWorkplace-master\app\assets\stylesheets\welcomes.css">

  <div class="media">
    <table>
      <tr>
        <td>
          <img src="http://www.javygalindo.com/creativity/wp-content/uploads/2014/09/cropped-cropped-creative2.jpg" alt="Mein Bild" class="img-responsive" >
        </td>
      </tr>
    </table>
  </div>

  <br>
  <br>

  <div class="container">
    <div class="jumbotron">
      <h1>CreativeMinds at their best</h1>
      <p>Developing Ruby stuff since almost forever</p>
    </div>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
      kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
      sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
      ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
      ut labore et  </p>

      <br>
      <br>

      <div class="page-header">
  <h1>What the heck do we do?</h1>
</div>
 <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
   dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
   kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
   sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
   At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
   ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
   ut labore et Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
     dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
     kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
     sadipscing elitr Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
       dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
       kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
       sadipscing</p>

   <br>

   <div class="media" align="center">
     <table>
       <tr>
         <td>
           <img src="http://www.dunncreativeminds.com/minds_no_black.png" alt="Mein Bild" class="img-responsive" >
         </td>
       </tr>
     </table>
   </div>

   <br>
   <br>

   <div class="page-header">
    <h1>The Team</h1>
   </div>
    <div class="row">
      <div class="col-sm-4">
        <h3>Ced</h3>
        <img src="https://scontent-frt3-1.xx.fbcdn.net/hprofile-xfa1/t31.0-1/c0.0.960.960/p960x960/465682_392996847387232_1537910537_o.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            <footer>Cedirk Wu</footer>
        </blockquote>
      </div>
      <div class="col-sm-4">
        <h3>Dor</h3>
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            <footer>Dorian Nü</footer>
        </blockquote>
      </div>
      <div class="col-sm-4">
        <h3>Leo</h3>
        <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
          <footer>Leon Co</footer>
        </blockquote>
      </div>
    </div>

  </div>
